

# folders
.idea
.idea/
obj
obj/
bin
bin/

# files
*.log
*.log.*
*.log-*
*.log/*
*.log-*/
*.log.*
token
cache
.cache
.cache/
__pycharm__


# env
appsettings.Product.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local